html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*------*/

.nav-link.a {
    color: #000;
}

.nav-link:hover, .nav-link:focus{
    color: green !important;
    background-color: #F1D7AB !important;
}

.active{
    color: #4333F3 !important;
    border-bottom: 5px solid blue;
}